
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.jumbotron {
    background-image: url("/math_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0%;
    color: white;
}